<% provide(:title, '新規登録') %>

<%= render 'layouts/header' %>

<div class="row justify-content-center">
  <div class="col-sm-6 ml-4 mr-4 mt-3 bg-light rounded">
    <h3 class="text-center mt-5 mb-5 border-bottom pb-3">新規登録</h3>
    <span class="border-bottom"></span>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "確認用パスワード" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    
    <%= f.submit "新規登録", class: "btn btn-primary btn-block mt-4 mb-5" %>
    <% end %>
    
    <p class="text-center text-muted">
      <small>
        既にアカウントをお持ちですか？
        <%= link_to "ログイン", login_path %>
      </small>
    </p>
    
  </div>
</div>
