<% provide(:title, 'メモ一覧') %>
<span class="scroll-bar">

<%= render 'users/sidebar' %>

<%= render 'shared/flash_messages' %>



<!-- 576px以下の時のデザイン -->
<div class="d-sm-none container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="margin-left: -25px; margin-right: -25px; z-index: 3;">
    <%= render 'layouts/navbar' %>
  </nav>
  
  <%# if @memo_items.any? %>
<!--  <div class="list-group list-group-flush">-->
      <%#= render @memo_items %>
<!--    </div>-->
  <%#end %>
  
  <div class="index list-group list-group-flush ajax-index word-break">
    <%= render ('microposts/mobile_memo_items') %>
  </div>
  
</div>


<!-- 576px以上の時のデザイン -->
<div class="container-fluid d-none d-sm-block">
 
  <div class="row">
   
    <%= render('microposts/sidenav') %>
    
    <div class="col-5 border-right border-left">
     
      <p class="memo-title mt-4 mb-4 ml-3" style="font-size: 26px; font-family: 'Comfortaa', cursive;">
        A-note
      </p> 
                   
      <div class="index list-group list-group-flush ajax-index word-break">
        <%= render ('microposts/memo_items') %>
      </div>
    </div>
    
    <div class="col-sm ajax-form">
    
      <%= render ('microposts/ajax_form') %>
      
    </div>
    
  </div>
</div>


</span>