<% provide(:title, 'メモ一覧') %>

<%= render 'users/sidebar' %>

<%= render 'shared/flash_messages' %>



<!-- 576px以下の時のデザイン -->
<div class="d-sm-none">
  <%= render 'layouts/navbar' %>
  
  <% if @memo_items.any? %>
  <div class="list-group list-group-flush">
      <%= render @memo_items %>
    </div>
  <% end %>
  
  <!-- 新規作成ボタン -->
  <button type="button" class="btn btn-link shadow btn-lg" id="createButton">
    <%= link_to image_tag("plus.svg", alt: "create"), new_micropost_path, id: "createButtonImage" %>
  </button>
  
</div>


<!-- 576px以上の時のデザイン -->
<div class="container-fluid d-none d-sm-block">
  <div class="row">
    <div class="col-sm-12">
      more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.
    </div>
  </div>
</div>
