<% @memo_items.each do |item| %>
<div class="list-group-item list-group-item-action flex-column align-items-start memo-item-div" id="memo-item-<%= item.id %>">

  <div class="row mb-2">

    <!-- メモをクリックしたときのリンク -->
    <a href="<%= mobile_edit_micropost_path(item) %>" data-remote="true" class="memo-item-link"></a>

    <div class="col index-title">
      <%= truncate(item.title, length: 30) %>
    </div>

    <span class="align-text-top mr-1 memo-item-modal" data-toggle="modal" data-target="#mobile-index-modal-<%= item.id %>">
      <img src="/app/assets/images/garbage-mono.svg" alt="garbage" style="width: 20px;" onmouseover="this.src='/app/assets/images/garbage.svg'" onmouseout="this.src='/app/assets/images/garbage-mono.svg'" data-toggle="tooltip" data-placement="bottom" title="ゴミ箱に移動する">
    </span>

    <div class="text-right index-date">
      <small class="text-muted">
        <%= item.updated_at.strftime('%Y/%m/%d') %>
      </small>
    </div>
  </div>

  <p class="mb-1 text-muted index-body">
    <%= truncate(item.body, length: 100) %>
  </p>

</div>  

<!-- Modal -->
<div class="modal fade" id="mobile-index-modal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        メモ「<%= item.title %>」をゴミ箱に移動しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <%= link_to "ゴミ箱に移動する", mobile_trash_path(item), class: "btn btn-primary trash_button", method: "get", remote: true, "data-dismiss": "modal", id: "#{item.id}" %>
      </div>
    </div>
  </div>
</div>

<% end %>

<!-- 新規作成ボタン -->
<button type="button" class="btn btn-link shadow btn-lg bg-primary" id="createButton" style="z-index:2;">
  <%= link_to image_tag("create-hover.svg", alt: "create", style: "width: 25px; position: fixed; right: 35.5px; bottom: 35.5px;"), mobile_new_micropost_path, remote: 'true' %>
</button>


<script>
//  $(window).on('popstate', function(e){
//    if(e.originalEvent.state!=null){
//      console.log('app.js'); console.log(e.originalEvent.state);
//      $(".mobile-history").html(e.originalEvent.state.page);
//      //      location.reload();
//    }else{
//      console.log('null');
//    }
//  });
//  $(window).on('popstate', function(e){
//    console.log(e.originalEvent.state);
//    $(".mobile-history").html(e.originalEvent.state.page);
//  });
//  $('.btn').click(function(){
//    history.pushState(null, null, '');
//  var page=('.history').html();
//  var page=$('.mobile-history').html();
//    history.replaceState({page: page}, null, '');
  
//    history.replaceState({page: "test"}, null, '');
//  });
  
  /* ゴミ箱に移動するボタンをクリックしたら、その要素を削除する */
  $('.trash_button').click(function() {
    var id=$(this).attr("id");
    $('#memo-item-'+id).remove();
  });
  $(function () {
    /* bootstrapのtooltipを有効にする */
    $('[data-toggle="tooltip"]').tooltip();

    //    $('.fade-in').fadeIn(1000);
  });
</script>