<% @memo_items.each do |item| %>
<div class="list-group-item list-group-item-action flex-column align-items-start memo-item-div trash-item-<%=item.id%>">

  <div class="row mb-2">

    <!-- メモをクリックしたときのリンク -->
    <a href="<%= trash_view_path(item) %>" data-remote="true" class="memo-item-link" ></a>

    
    <div class="col index-title ml-1">
      <%= truncate(item.title, length: 30) %>
    </div>
    
    <span class="align-text-top mr-1 memo-item-modal" data-toggle="modal" data-target="#trash-index-modal-<%= item.id %>">
     
      <a href="<%= restore_micropost_path(item) %>" style="z-index: 3; position: relative" data-remote="true" class="p-1 restore-button" data-id="<%= item.id %>"><img src="/app/assets/images/restore-mono.svg" alt="restore" style="width: 18px;" onmouseover="this.src='/app/assets/images/restore.svg'" onmouseout="this.src='/app/assets/images/restore-mono.svg'" class="mr-1 restore-tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="元に戻す"></a>
     
      <img src="/app/assets/images/garbage-mono.svg" alt="garbage" style="width: 20px;" onmouseover="this.src='/app/assets/images/garbage.svg'" onmouseout="this.src='/app/assets/images/garbage-mono.svg'" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="削除する">
    </span>

    <div class="text-right index-date">
      <small class="text-muted">
        <%= item.updated_at.strftime('%Y/%m/%d') %>
      </small>
    </div>
  </div>

  <p class="mb-1 ml-1 text-muted index-body">
    <%= truncate(item.body, length: 100) %>
  </p>

</div>  

<!-- Modal -->
<div class="modal fade" id="trash-index-modal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        メモ「<%= item.title %>」を完全に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <%= link_to "削除する", micropost_path(item), class: "btn btn-primary trash_button", method: "delete", remote: true, "data-dismiss": "modal", id: "#{item.id}" %>
      </div>
    </div>
  </div>
</div>

<% end %>


<script>
  /* 削除ボタンをクリックしたら、その要素を削除する */
  $('.trash_button').click(function() {
    var id=$(this).attr("id");
//    $('#trash-item'+id).remove();
    $('.trash-item-'+id).remove();
  });
  
  $('.restore-button').click(function() {
    var id=$(this).data("id");
    //    $('#trash-item'+id).remove();
    $('.trash-item-'+id).remove();
  });
  
  $('.restore-tooltip').click(function(){
    $('.tooltip').remove();
  });
  
  
  
  $(function () {
    /* bootstrapのtooltipを有効にする */
    $('[data-toggle="tooltip"]').tooltip(); 
  });
  
  /* Bootstrap Modalを動作させる */
  $('.modal').appendTo("body");
  
  
  
</script>