<% provide(:title, '編集') %>

<!-- 576px以下の時のデザイン -->
<div class="d-sm-none">
 
  <nav class="navbar shadow-sm">

    <%= link_to user_path(@micropost.user_id), target: "_blank", data: {confirm: "メモを保存せずに移動します。よろしいですか？"} do %>
    <%= image_tag "left-arrow.svg", id: "back-button", class: "ml-2" %>
    <% end %>

    <span class="navbar-brand float-left mr-auto ml-4">Note</span>

    <%= link_to edit_micropost_path(@micropost), method: :put, data: {confirm: "メモをゴミ箱に移動します。よろしいですか？"}, target: "_blank" do %>
    <%= image_tag "garbage.svg", id: "back-button", class: "mr-2" %>
    <% end %>

  </nav>
  
  <%= render 'microposts/form' %>

</div>