<!--　ゴミ箱一覧画面　-->

<% provide(:title, 'ゴミ箱') %>

<%= render 'users/sidebar' %>

<%= render 'shared/flash_messages' %>



<!-- 576px以下の時のデザイン -->
<div class="d-sm-none">

  <nav class="navbar shadow-sm">

    <%= link_to user_path(@user) do %>
    <%= image_tag "left-arrow.svg", id: "back-button", class: "ml-2" %>
    <% end %>

    <span class="navbar-brand mr-auto ml-4">ゴミ箱</span>

  </nav>

  <div class="list-group list-group-flush">
    <% if !@trash_items.nil? %>
      <% @trash_items.each do |trash| %>
        <a href="/trash/<%= trash.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-2"><%= trash.title %></h6>
            <small class="text-muted"><%= trash.created_at.strftime('%Y/%m/%d') %></small>
          </div>
          <p class="mb-1"><%= trash.body %></p>
        </a>
        <div class="border-bottom border-dark ml-3 mr-3" id="border-title"></div>
      <% end %>
    <% end %>
  </div>

</div>


<!-- 576px以上の時のデザイン -->
<div class="container-fluid d-none d-sm-block">
  <div class="row">
    <div class="col-sm-12">
      more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.more than 576px.
    </div>
  </div>
</div>
