<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/head_custom' %>
    
  </head>

  
<% if logged_in? %>
  
    <!-- ログインしていたときの画面 --> 
    <%= yield %>
<% else %>
  <body>
    <!-- ログインしていないときの画面 --> 
    <%= yield %>
  </body>
<% end %>
  
</html>